.beer-list-container {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 0 15px 30px;
  position: relative;

  h1 {
    color: #555;
    text-align: center;
    font-size: 2rem;
  }

  .beer-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
    margin-top: 4rem;

    .beer-link {
      text-decoration: none;
      color: inherit;
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;

    div {
      display: flex;
    }

    button {
      margin: 0 5px;
      padding: 8px 12px;
      background-color: #ffffff;
      color: #828181;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      border: none;
      font-size: 1rem;
    }

    .next-prev-btn {
      font-family: "Inria Sans", sans-serif;
      &:hover {
        color: none;
      }
    }
  }

  .button-container {
    justify-content: center;
    margin-bottom: 1rem;
    position: absolute;
    top: -50px;
    right: 15px;

    .management-view-btn {
      padding: 8px 7px;
      font-size: 1rem;
      color: #575757;
      border: 1px solid #292566;
      border-radius: 0.2rem;
      cursor: pointer;
      background-color: #edf2e3;
      transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s;

      &:hover {
        background-color: #292566;
        color: #fff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@media (max-width: 768px) {
  .beer-list-container {
    padding: 0 10px;

    h1 {
      font-size: 1.5rem;
    }

    .beer-list {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .pagination button {
      padding: 6px 8px;
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 480px) {
  .beer-list-container {
    padding: 0 5px;

    h1 {
      font-size: 1.2rem;
    }

    .beer-list {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    .pagination button {
      padding: 5px 6px;
      font-size: 0.8rem;
    }
  }
}
